* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid black;
}

.one{
    background-color: red;
    grid-column: span 3;
    grid-row: span 2;
}

.two{
    background-color: purple;
    grid-column: span 9;
    grid-row: span 4;
    
}
.three{
    background-color: rgb(123, 211, 163);
    grid-column: span 3;
    grid-row: span 2;
}
.four{
    background-color: rgb(123, 182, 211);
    grid-column: span 6;
    grid-row: span 3;
}
.five{
    background-color: rgb(73, 121, 95);
    grid-column: span 6;
    grid-row: span 1;
}
.six{
    grid-column: span 3;
    grid-row: span 4;
    background-color: antiquewhite;
}
.seven{
    grid-column: span 3;
    grid-row: span 2;
    background-color: rgb(235, 160, 63);
}
.eight{
    grid-column: span 3;
    grid-row: span 1;
    background-color: rgb(235, 160, 63);
}
.nine{
    grid-column: span 3;
    grid-row: span 1;
    background-color: rgb(63, 235, 97);
}
.ten{
    grid-column: span 3;
    grid-row: span 1;
    background-color: rgb(63, 86, 235);
}
.chess{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}
